@import "src/assets/helpers/variable";

.headerService {
    width: 100%;
    height: 550px;
    padding-top: 250px;

    background-image: url("../../../../../assets/images/our-service.webp");
    background-position: center;
    background-size: cover;
    opacity: 0.8;

    @media #{$media-phone} {
        padding-top: 180px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .title {
        color: #ffffff;
        text-align: center;
    }

    .note {
        color: #ffffff;
        text-align: center;
    }
}

.listService {
    margin-top: 20px;
    width: 95%;
    padding-left: 20%;

    @media #{$media-phone} {
        flex-direction: column;
        width: 100%;
        padding: 10px 5%;
    }

    .service {

        padding: 5px 10px;
        width: 80%;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 1px 2px 4px #d8d7d7;
        border-radius: 6px;
        text-align: center;

        @media #{$media-phone} {
            margin-top: 20px;
        }

        .image {
            height: 100%;

            .img {
                background-color: rgb(255, 255, 255);
                width: 210px;
                height: 210px;
                border-radius: 50%;
                box-sizing: border-box;
                overflow: hidden;
                padding: 10px;
            }
        }

        .title {
            color: $main-color;
            font-size: 24px;
            font-weight: 600;
            display: inline-block;
            vertical-align: top;
            width: 90%;
        }

        .des {
            line-height: 1.4rem;
            margin-top: 10px;
            font-size: 14px;
            color: black;
            text-align: left;
        }
    }

}