.whatWest {
    margin-top: 80px;
    width: 100%;
    height: 600px;
    background-color: #ffffff;

    .layoutWhat {
        .itemProduction {
            width: 250px;
            height: 340px;
            background-color: #ffffff;
            box-shadow: 1px 1px 4px #dadada;
            border: 1px solid #dadada;

            .number {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;

                .element {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    font-weight: 800;
                    color: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 600;
                }
            }

            .image {
                width: 100%;
                height: 70%;
            }

            .des {
                padding: 10px 15px;
                font-size: 16px;
                font-weight: 500;
                color: #000000;
            }
        }

        .nameCompany {
            position: relative;

            h3 {
                width: 100%;
                text-align: start;
                font-size: 48px;
                width: 48%;
                margin-left: 10%;
                color: #46abeb;
            }

            .iconNext {
                position: absolute;
                color: #46abeb;
                font-size: 45px;
                left: 30%;
            }
        }
    }

    .bgName {
        font-size: 80px;
        color: #46abeb;
        color: transparent;
        -webkit-text-stroke: 2px #46abeb;
        text-stroke: 2px #46abeb;
        text-align: end;
        margin-top: 50px;
        padding-right: 4%;

    }
}