@import "src/assets/helpers/variable";

.sendMessage {
    padding: 0px 10%;

    .nav {
        width: calc(100% - 15px);
        height: 100x;
        color: #fff;
        background: #014f16;
        padding-left: 15px;
        border-radius: 5px;

        @media #{$media-phone} {
            width: 100%;
        }

        h2 {
            font-size: 20px;
            font-weight: 400;
            padding: 10px;
        }
    }

    .mainSend {
        width: 100%;
        padding-bottom: 80px;

        @media #{$media-phone} {
            @include display-flex;
            flex-direction: column;
            padding: unset;
        }

        .info {
            color: #424ddc;
            height: 400px;
            margin-right: 10%;
            padding-top: 12px;

            @media #{$media-phone} {
                width: 100%;
                padding: 10px 5%;
                margin-right: 0;
            }

            p {
                margin-top: 20px;
                font-weight: 400;
                color: #333;

                i {
                    color: #333;
                }
            }

            .listIc {
                display: flex;
                margin-top: 60px;

                .icon {
                    margin-left: 10px;
                    color: #333;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #a1a0a1;

                    @media #{$media-phone} {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .form {
            width: 100%;

            @media #{$media-phone} {
                width: 100%
            }

            .formField {
                width: 100%;
                margin-top: 10px;

                input,
                textarea {
                    border: 1px solid #a1a0a1;
                    padding: 16px 15px;
                    background-color: #ffffff;
                    width: 90%;

                    @media #{$media-phone} {
                        width: 100%;
                    }
                }

                textarea {
                    height: 150px;
                }
            }

            .formField1 {
                margin-top: 10px;
                line-height: 22px;
                cursor: pointer;
                font-weight: 400 !important;

                strong {
                    font-weight: 700;
                    color: #424ddc;
                }
            }

            .buttonForm {
                margin-top: 10px;
                display: flex;
                justify-content: flex-end;
                padding-right: 10%;

                @media #{$media-phone} {
                    padding-right: 0;
                }

                button {
                    color: #fff;
                    background-color: #014f16;
                    padding: 10px 16px;
                    font-size: 16px;
                    border-radius: 3px;

                    &:hover {
                        color: #fff;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}