@import "src/assets/helpers/variable";

.mySwiperProduct{
    position: relative;
    .swiper-wrapper{
        width: 320px;
        margin: unset;
        .swiper-slide{
            width: 100%;
            padding: 0px 0%;
        }
    }
   
}
.mySwiperTest{
    @media #{$media-phone} {
        margin-top: 25px;
    }
    .swiper-wrapper{
        .swiper-slide{

        }
    }
}

.mySwiperProcess{
    width:100%;
}
.mySwiperProduct{
    position: relative;
    .swiper-wrapper{
        width: 320px;
        margin: unset;
        .swiper-slide{
            width: 100%;
            padding: 0px 0%;
        }
    }
   
}

.mySwiperTestBanner{
    @media #{$media-phone} {
        margin-top: 25px;
    }
    .swiper-wrapper{
        .swiper-slide{
            padding: 56.25% 0 0 0 ;
            border-radius: 10px;
            box-sizing: border-box;
            overflow: hidden;
            .mainSwiper{
                box-sizing: border-box;
                overflow: hidden;
            }
        }
    }
}
.aboutUsWhatSwiper{
    .swiper-wrapper{

    }
    .swiper-pagination{
        display: none;
    }
}

.mySwiper{


    .swiper-pagination-bullet{

        display: none;
    }

}

