

.blogs{


    .titleSection{

        text-align: center;
        color: rgb(14, 77, 136);
        padding: 22px 0;
    }
    .listCard{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 10%;
        .cardItem{
            width: 30%;
            font-family: 'Roboto',sans-serif;
            border: 1px solid #c4bebe97;
            border-radius: 5px;
            height: 350px;
            .previewImage{
                height: 120px;
            }
            .title{
                font-size: 22px;
                text-align: center;
                margin: 10px 0;
            }
            .shortContent{
                text-align: justify;
                padding: 10px 5%;
                margin-bottom: 20px;
                color: #4b4747;
                font-size: 15px;
                height: 100px;
            }
            a{
                .btnMore{
                    margin-left: 5%;
                    padding: 10px 25px;
                    background-color: rgb(8, 19, 119);
                    color: #ffffff;
                    font-size: 14px ;
                    font-family: 'roboto',sans-serif;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    &:hover{
                        cursor: pointer;
                    }
                }

            }
        }
    }
}