.mainNavigationPhone {
    width: 100%;
    height: 900px;
    background-color: #fff;
    position: fixed;
    margin-top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
    top: 100px;

    .menuPhone {
        padding: 0;
        height: 100%;
        font-weight: bold;

        .itemPhone {
            padding: 20px 7%;
            border-bottom: 1px solid #bebbbb;
            transition: all 0.5s;
            a{
                color: rgb(14, 77, 136) ;
                font-weight: 900;
            }
            
        }
    }
}