@import "src/assets/helpers/variable";

.header {
    height: 70px;
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 3000;
    width: 100%;
    box-shadow: 1px 2px 4px #dadada;

    .logo {
        width: 30%;
        height: 80%;
        background-image: url('/logo2.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @media #{$media-tablet-vertical} {
            background-size: contain;
        }

        @media #{$media-phone} {
            width: 190px;
            background-size: contain;
        }
    }

    .menuList {
        width: 60%;
        font-size: 17px;
        text-align: center;
        text-transform: uppercase;

        @media #{$media-tablet-vertical} {
            width: 70%;
            font-size: 12px;
        }

        @media #{$media-phone} {
            display: none;
        }

        .menu {
            padding-left: 54px;
            width: 100%;

            transition: all linear 0.5s ;

            li {
                padding: 0 24px;
                border-bottom: 5px solid #ffffff;
                display: block;
                transition-duration: 0.5s;
                border-bottom: 3px solid #ffffff;
                color: $main-color;
                a {
                    font-size: 15px;
                    color: $main-color;
                }
                

                &:hover {
                    cursor: pointer;
                    border-bottom: 3px solid  $main-color;
                }
            }

        }
    }

    .bar1 {
        width: 40px;
        height: 40px;
        font-size: 26px;
        color: #333;
        display: none;

        @media #{$media-phone} {
            display: block;
        }

    }

    .groupBtn {
        @media #{$media-phone} {
            display: none;
        }

        width: 250px;

        .menuList {
            width: 100%;

            li {
                padding: 4px;
                display: inline-block;
                box-sizing: border-box;
                transition: all .3s ease;
                min-width: 60px;
                border-radius: 100px;
                text-align: center;
                border: 1px solid #5353ac;
                background: transparent;

                a {
                    font-size: 12px;
                    color: #5353ac;
                    font-weight: bold;
                    line-height: 100%;
                }
            }

            .btn2 {
                background: #5353ac;
                margin-left: 5px;

                a {
                    margin-left: 3px;
                    background-position: -51px -1px;

                    color: #fff;
                }

            }
        }
    }

    .bar {
        font-size: 30px;
        width: 70px;
    }


}