@import "src/assets/helpers/variable";
.integration{
    width: 100%;
    padding-top : 60px ;
    .imageBanner{
        position: relative;
        background-size: contain;
        background-color: #00acf6;
        height: 500px;
        .mainContentBanner{
            color: #ffffff;
            text-align: center;
            padding: 0 25%;
            .title{
                width:100% ;
                font-size: 900;
                font-size: 35px;
               
            }
            .benefitIntegration{
                margin-top: 20px;
                line-height: 1.5rem;
                width:100% ;
            }
            .discover{
                margin-top: 40px;
                padding: 12px 26px;
                color: #ffffff;
                background-color: #f18d34;
                border: none;
                font-size: 17px;
                font-weight: 400;
                border-radius: 4px;
            }
        }
    }

    .outstanding{
        width: 100%;
       
        .titleOutStanding{
            margin-top: 100px;
            text-align: center;
            font-size: 40px;
            padding: 5px 0;
            color: $main-color;
            margin-bottom: 70px;
        }
        .mainOutStanding{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .lineItem{
                padding: 10px 15%;
               
                .item{
                    width: 45%;
                    
                    box-sizing: border-box;
                    overflow: hidden;
                    border-bottom: 1px solid #dadada;
                    max-height: 230px;
                    box-sizing: border-box;
                    overflow: hidden;
                }
                
            }
        }
    }
    .integrationFeature{
        margin-top: 120px;
        background: #dae5ef;
        padding: 80px 0;
        width: 100%;
        .title{
            margin-top: 40px;
            text-align: center;
            font-size: 40px;
            padding: 5px 0;
            color: $main-color;
        }
        .expansion{
            text-align: center;
            color: #5d5959;
            font-size: 16px;
        }
        .officeSuite{
            width: 80%;
            padding: 0 10%;
            margin-top: 70px;
            .titleProduct{
                margin-bottom: 15px;
                color:$main-color
            }
            .listIntegration{
                display: flex;
                width: 100%;
                .itemIntegration{
                    background-color: #ffffff;
                    box-shadow: 1px 1px 3px #dadada;
                    border-radius: 3px;
                    .imageService{
                        width: 300px;
                        height: 130px;
                        box-sizing: border-box;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 20px 5%;
                    }
                    .researchMore{
                        padding: 10px 8%;
                        .layoutResearchMore{
                            width: 100%;
                            .titleMore{
                                font-size: 14px;
                            }
                            .btnMore{
                                border: 1px solid #099b54;
                                font-size: 10px;
                                padding: 4px 6px;
                                border-radius: 8px;
                                background-color: transparent;
                                color: #099b54;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .itemIntegrationCustom{
                    margin-left: 40px;
                }
            }

        }
    }
}

