

@import "src/assets/helpers/variable";
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    color: #333;
  }
  
  .hero {
    background: url('/path-to-hero-image.jpg') no-repeat center center/cover;
    // color: #fff;
    text-align: center;
    padding: 4rem 1rem;
    border-radius: 10px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .cta {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .cta:hover {
    background-color: #0056b3;
  }
  
  .services, .process, .portfolio, .testimonials, .contact {
    margin-bottom: 4rem;
    padding: 2rem 1rem;
  }
  
  .services h2, .process h2, .portfolio h2, .testimonials h2, .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #007bff;
  }
  
  .services ul {
    list-style: none;
    padding: 0;
  }
  
  .services li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .process ol {
    padding-left: 1.5rem;
  }
  
  .process li {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .portfolio {
    background-color: #f8f9fa;
  }
  
  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  
  .project {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .project img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s;
  }
  
  .project:hover img {
    opacity: 0.8;
  }
  
  .projectInfo {
    padding: 1rem;
  }
  
  .project h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .project p {
    font-size: 1rem;
    color: #666;
  }
  
  .testimonials blockquote {
    background-color: #f8f9fa;
    border-left: 5px solid #007bff;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .testimonials footer {
    font-style: italic;
    color: #555;
  }
  
  
.contact {
    background-color: #f9f9f9; /* Nền nhẹ nhàng */
    padding: 3rem 1rem; /* Padding cho phần nội dung */
    text-align: center; /* Căn giữa nội dung */
  }
  
  .contactContent {
    margin-top: 20px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /* Khoảng cách giữa các phần tử liên hệ */
  }
  
  .contactItem {
    background: #ffffff; /* Nền trắng cho các phần tử liên hệ */
    border-radius: 8px; /* Bo góc */
    padding: 1.5rem; /* Padding bên trong */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bóng nhẹ */
    flex: 1 1 250px; /* Phần tử có thể co giãn, với chiều rộng tối thiểu là 250px */
    max-width: 350px; /* Giới hạn chiều rộng tối đa */
    box-sizing: border-box; /* Đảm bảo padding không làm tăng tổng chiều rộng */
  }
  
  .contactItem h3 {
    font-size: 1.5rem; /* Kích thước tiêu đề lớn hơn */
    margin-bottom: 0.5rem; /* Khoảng cách dưới tiêu đề */
    color: #007bff; /* Màu tiêu đề */
  }
  
  .contactItem p {
    font-size: 1rem; /* Kích thước chữ */
    color: #333; /* Màu chữ */
    margin: 0; /* Không có khoảng cách ngoài cùng */
  }
  
  .contactItem strong {
    display: block; /* Hiển thị theo khối */
    font-weight: bold; /* Chữ đậm */
    margin-bottom: 0.5rem; /* Khoảng cách dưới */
  }
  
  
  