@import "src/asset/helpers/variable";

.mainProduct{
    width: 100%;
    padding: 50px 0;
    .title{
        width: 100%;
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        color: #333;
    }
    .itemProduct{
        margin-top: 50px;
        border: 1px solid #cbc9c9;
        width: 90%;
        margin-left: 5%;
        padding-bottom: 20px;
        .topItemProduct{
            padding: 10px 5%;
            .titleproduct{
                font-size: 19px;
                font-family: "Poppins",sans-serif;
            }
            .download{
                .btnDownload{
                    padding: 12px 25px;
                    background-color: #edea0a;
                    border-radius: 8px ;
                    font-size: 14px;
                    &:hover{
                        box-shadow: 1px 1px 1px 1px #e0c91d;
                    }
                }
            }
        }
        .mainTech{
            margin-left: 5%;
            @media #{$media-phone} {
                flex-direction: column;
            }
            .product{
                background-color: #f0eded;
                font-family: "Poppins",sans-serif;
                padding: 10px 15px;
                border: 1px solid #cbc9c9;
                border-radius: 3px;
                @media #{$media-phone} {
                    width: 100%;
                    margin-top: 20px;
                }
                &:hover{
                    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);;
                }
                .images{
                    width: 35px;
                    height: 35px;
                    margin-bottom: 10px;
                }
                .titleItem{
                    font-size: 14px;
                    font-weight: 600;
                    margin: 5px 0;
                }
                .contentItem{
                    text-align:justify ;
                    font-size: 12px;
                    margin-top: 6px;
                    color: #545252;
                }
            }
        }
    }
}