

@import "src/assets/helpers/variable";
.listService {
    // margin-top: 20px;
    // width: 95%;
    // padding-left: 20%;
    margin-top: 100px;
    // background-color: #ce4343;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    @media #{$media-phone} {
        flex-direction: column;
        width: 100%;
        padding: 10px 5%;
    }

    .service {

        padding-top: 70px;
        // width: 80%;
        height: 100%;
        // background-color: #ffffff;
        // box-shadow: 1px 2px 4px #d8d7d7;
        border-radius: 6px;
        text-align: center;

        .titleService{
            color: #ffffff;

        }
        .listIcons{
            margin-top: 50px;
            .itemIcon{
                color: #ffffff;
                font-size: 30px;
                .noteApp{
                    max-width: 120px;
                    font-size: 16px;
                }
            }

        }

        @media #{$media-phone} {
            margin-top: 20px;
        }

        .image {
            height: 100%;

            .img {
                // background-color: rgb(255, 255, 255);
                width: 210px;
                height: 210px;
                border-radius: 50%;
                box-sizing: border-box;
                overflow: hidden;
                padding: 10px;
            }
        }

        .title {
            color: $main-color;
            font-size: 24px;
            font-weight: 600;
            display: inline-block;
            vertical-align: top;
            width: 90%;
        }

       
    }

}