@import "src/assets/helpers/variable";

.banner{
    width: 100%;
    padding-top: 60px;
    height: 650px;
    .bannerBim{
        height: 100%;
    }
    @media #{$media-phone} {
        padding-top: 9px;
        height:260px
    }
}

.mySwiperBanner{
    height: 650px;
    width: 100%;
    @media #{$media-phone} {
        height:320px
    }
    .image{
        width: 100%;
        height: 100%;
    }
}