@import "src/assets/helpers/variable";


.textContact{
    width: 80%;
    padding: 100px 10%;
    @media #{$media-phone} {
        width: 100%;
        padding: 10px 10%;
    }
    .title{
        color: #404040;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1 !important;
        padding: 10px 0;
    }
    .menu{
        padding-left: 0;
        li{
            padding: 10px 0;
            color: #0a0a0a;
            font-weight: 500;
            font-size: 14px;
            color: #222;
            line-height: 24px;
            .phone{
                color: #d22b2b;
                font-weight: bold;
            }
        }
        .thank{
            font-weight: 650;
            font-size: 16px;
        }
    }
    .menu2{
        list-style: disc;
        font-family: Verdana, Helvetica, sans-serif;
        li{
            font-size: 14px;
            text-align: -webkit-match-parent;
            color: #236fa1;
            padding: 6px 0;
        }
    }
}