@import "src/assets/helpers/variable";


.integration{
    width: 100%;
    height: auto;
    background-image: url("../../../../../assets/images/our-background-service-web.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .zohoProduct{
        width: 100%;
        padding: 30px 5%;
        .titleProduct{
            text-align: start;
            font-size: 20px;
            padding: 30px 0;
            color:$main-color;
        }
       .layout{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            @media #{$media-phone} {
                flex-direction: column;
            }
            .itemProduct{
                width: 22%;
                height: 240px;
                border: 1px solid #dadada;
                background-color: #ffffff;
                box-shadow: 1px 1px 3px #dadada;
                @media #{$media-phone} {
                    width: 100%;
                    margin-top: 30px;
                }
                .image{
                    padding: 5%;
                    width: 90%;
                    height: 75%;
                }
                .groupBtn{
                    width: 100%;
                    padding: 20px 5%;
                    .nameProduct{
                        font-size: 13px;
                        font-weight: 600;
                    }
                    .btnMoreProduct{
                        font-size: 10px;
                        padding: 5px 12px;
                        background-color: #ffffff;
                        border: 1px solid $main-color;
                        color: $main-color;
                        border-radius: 18px;
                        transition: all 0.4s ease;
                        &:hover{
                            cursor: pointer;
                            background-color: $main-color;
                            color: #ffffff;
                        }
                    }
                }
            }
       }
    }
}

    .service {

        padding: 5px 10px;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 6px;
        text-align: center;
        .titleService{
            margin-top: 70px;
            padding: 30px;
            color: $main-color;
        }

        .mainContent{
            width: 100%;
            height: auto;
            padding: 70px 0;
            @media #{$media-phone} {
                flex-direction: column !important;
            }
            .leftContent{
                width: 50%;
                height: auto;
                @media #{$media-phone} {
                    width: 100%;
                }
                .image{
                    width: 100%;
                    height: 400px;
                    background-image: url('../../../../../assets//images/our-service-zoho.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            .rightContent{
                width: 50%;
                @media #{$media-phone} {
                    width: 100%;
                }
                .titleBenefit{
                    padding: 30px 0;
                    color: $main-color;
                    text-align: start;
                }
                .lineBenefit{
                    padding: 10px;
                    text-align: start;
                    font-size: 16px;
                    color: #5b5656;
                }
                .moreService{
                    margin-top: 20px;
                    background-color: $main-color;
                    color: #ffffff;
                    font-size: 15px;
                    border-radius: 20px;
                    padding: 14px 22px;
                    border: none;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        @media #{$media-phone} {
            margin-top: 20px;
        }

        .image {
            height: 100%;

            .img {
                background-color: rgb(255, 255, 255);
                width: 210px;
                height: 210px;
                border-radius: 50%;
                box-sizing: border-box;
                overflow: hidden;
                padding: 10px;
            }
        }

        .title {
            color: $main-color;
            font-size: 24px;
            font-weight: 600;
            display: inline-block;
            vertical-align: top;
            width: 90%;
        }

        .des {
            line-height: 1.4rem;
            margin-top: 10px;
            font-size: 14px;
            color: black;
            text-align: left;
        }
    }

// }