@import "src/assets/helpers/variable";

.listVideo {
    margin-top: 100px;
    width: 100%;

    .title {
        color: $main-color;
        font-size: 33px;
        text-align: center;
        font-weight: 900;
        margin-bottom: 5%;
    }

    .note {
        font-size: 20px;
        text-align: center;
    }

    .videos {
        position: relative;

        .banner {
            width: 100%;
            padding: 10px 7%;

            .mainSlide {
                .title1 {
                    text-align: center;
                    color: $main-color;
                    margin-top: 14px;
                    font-weight: 900;
                }

                .content {
                    color: #4c4a4a;
                    font-size: 13px;
                    margin-top: 15px;
                    text-align: center;
                }
            }
        }

        .next {
            position: absolute;
            right: 60px;
            top: 160px;
            z-index: 1000;
            width: 60px;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            color: #fff;

        }

        .pre {
            position: absolute;
            left: 60px;
            top: 160px;
            z-index: 1000;
            width: 60px;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            color: #fff;

        }
    }
}