@import "src/assets/helpers/variable";
$transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);


@keyframes slideInLeft {
    from {
        transform: translateX(-200px);
    }
    to{
        transform: translateX(-200px);
    }
}

.service{
    padding: 80px 0;
    width: 100%;
    .title{
        margin: 40px 0 ;
        text-align: center;
        color: rgb(14, 77, 136);
        p{
            margin-top: 15px;
            text-align: center;
            font-size: 20px;
            padding: 5px 0 ;
        }
    }
    .note{
        text-align: center;
        // p{
        //     font-size: 16px;
        //     line-height: 30px;
        //     font-weight: 550;
        //     text-align: center;
        // }
        @media #{$media-phone} {
            width: 90%;
            padding: 10px 5%;
        }
    }
}
.items{
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    @media #{$media-phone} {
        width: 90%;
        padding: 10px 5%;
        display: flex;
        flex-direction: column;
    }
    .listItem{
        width: 20%;
        border-radius: 5px;
        height: auto;
        padding-bottom: 20px;
        position: relative;
        animation: slideInLeft 1s ease-in-out  ;
        transition: all 1s;
        @media #{$media-phone} {
            width: 90%;
            padding: 10px 5%;
            display: flex;
            flex-direction: column;
        }
      
        .item{     
            color: #ffffff;
            width: 100%;
            height: 420px;
            padding: 20px 30px;
            transition: all 0.4s;
            &:after {
                transition: opacity $transition;
                pointer-events: none;
                opacity: 0;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 900px;
                display: block;
                background: linear-gradient(rgba(white, 0) 20%, rgba(white, 0.8));
            }
            @media #{$media-phone} {
                width: 90%;
                padding: 10px 5%;
            }
            .imageIC{
                width: 140px;
                height: 140px;
                border-radius: 50%;
                border: 8px solid white;
                box-sizing: border-box;
                overflow: hidden;
                margin-left: calc((100% - 140px)/2);
            }
            .titleItem{
                color: rgb(243, 238, 238);
                text-align: center;
                font-size: 21px;
                font-weight: bold;
   
            }
            .content{
                margin-top: 20px;
                text-align: justify;
                font-size: 15px;
               font-style: inherit;
            }
            .show{
                margin-top: 10px;
            }
        }
        .bg1{
            background-color: $main-color;
            border-radius: 15px;
        }
        .bg2{
            background-color: $main-color;
            border-radius: 15px;
        }
        .bg3{
            background-color:$main-color;
            border-radius: 15px;
        }
        .bg4{
            background-color: $main-color;
            border-radius: 15px;
        }
    }
}

.viewPdf{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: #45424247;
}