@import "src/assets/helpers/variable";

.product{
    width: 100%;
    padding-top: 100px;
    // padding: 10px 0;
    .bannerProduct{
        width: 100%;
        height: 400px;
    }
    .productDetails{
        margin-top: 70px;
        .title{
            font-size: 20px;
            font-weight: 600;
        }
        .listItem{
            margin-top: 20px;
            // @media #{$media-phone} {
            //     flex-direction: column;
            // }
            .mrItem{
                margin-left: 20px;
            }
            .item{
                width: 150px;
                height: 180px;
                // @media #{$media-phone} {
                //     flex-direction: column;
                //     width: 100%;
                //     height: 180px;
                //     margin-top: 40px;
                // }
                .image{
                    padding:8px;
                    border: 1px solid #dadada;
                    .img{
                        border-radius: 5px;
                        width: 100%;
                        height: 136px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    
                }
                .name{
                    margin-top: 9px;
                    .content{
                        text-align: center;
                        font-weight: 400;
                        color: #5e5c5c;
                        font-size: 14px;
                        &:hover{
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }

        }
    }
}