

.technology{
    width: 100%;
    background-image: url('https://rerouting.ca/wp-content/uploads/2021/03/Simple-Technology-LinkedIn-Banner.png');
    height: 440px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}