@import "src/assets/helpers/variable";

.aboutUs {
    padding-top: 60px;

    .banner {
        width: 100%;
        height: 550px;
        // background-image: url("../../../assets/images/about-us-banner.webp");
        background-image: url("../../../../public/about-us-banner.avif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: #ffffff;
        opacity: 0.8;

        .mainContent {
            width: 50%;
            .title {
                font-size: 38px;
            }
            
        }
    }

    .whatWest {
        margin-top: 80px;
        width: 100%;
        height: 600px;
        background-color: #ffffff;

        .layoutWhat {
            .itemProduction {
                width: 250px;
                height: 340px;
                background-color: #ffffff;
                box-shadow: 1px 1px 4px #dadada;
                border: 1px solid #dadada;

                .number {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;

                    .element {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background-color: #ffffff;
                        font-weight: 800;
                        color: #000000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }

                .image {
                    width: 100%;
                    height: 70%;
                }

                .des {
                    padding: 10px 15px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #000000;
                }
            }

            .nameCompany {
                position: relative;

                h3 {
                    width: 100%;
                    text-align: start;
                    font-size: 48px;
                    width: 48%;
                    margin-left: 10%;
                    color: #46abeb;
                }

                .iconNext {
                    position: absolute;
                    color: #46abeb;
                    font-size: 45px;
                    left: 30%;
                }
            }
        }

        .bgName {
            font-size: 80px;
            color: #46abeb;
            color: transparent;
            -webkit-text-stroke: 2px #46abeb;
            text-stroke: 2px #46abeb;
            text-align: end;
            margin-top: 50px;
            padding-right: 4%;

        }
    }

    .ourTeam {
        height: 500px;
        background-color: #93b8e5a9;

        .contentTeam {
            .titleSection {
                text-align: start;
                font-size: 50px;
                width: 36%;
                margin-left: 10px;
                color: transparent;
                -webkit-text-stroke: 2px #ffffff;
                text-stroke: 2px #ffffff;
            }

            .expansion {
                margin-left: 10px;
                margin-top: 40px;
                width: 80%;
                font-size: 18px;
                text-align: justify;
                line-height: 2rem;
                color: #ffffff;

            }
        }

    }

    .whyUs {
        margin-top: 80px;
        padding-left: 10%;

        @media #{$media-phone} {
            width: 100%;
            padding: 10px 5%;
            display: flex;
            flex-direction: column;
            margin-top: 0px;
        }


        .left {
            @media #{$media-phone} {
                width: 100%;
                padding: 10px 5%;

            }

            .title {
                font-weight: 600;
                font-size: 32px;
                color: #014f16;
            }

            .note {
                margin-top: 8px;
                font-size: 14px;
                color: #333;
                font-weight: 700;

            }

            .document {
                line-height: 30px;
                color: #0e0e0e;
                margin-top: 10px;
            }

        }

        .right {
            @media #{$media-phone} {
                width: 100%;
                padding: 10px 5%;

            }
        }
    }

    .sectionPartner {
        margin-top: 200px;

        .titleSection {
            font-size: 50px;
            font-weight: 700;
        }

        .note {
            margin-top: 20px;
            font-size: 40px;
            color: $main-color;
            text-align: center;
            font-weight: bold;
        }

        .listPartner {
            margin-top: 60px;
        }
    }

    .sectionQuote{
        padding: 50px 0;
        
        .title{
            color:$main-color;
            text-align: center;
            font-size: 32px;
        }
        .quotes{
            padding: 50px 15%;
            .quote{
                width: 45%;
                height: 120px;
                display: flex;
                padding-top: 40px;
                .imageProfile{
                    width: 30%;
                    height: 100%;
                    .image{
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .image0{
                        background-image: url('../../../../public/tsp-profile.jpeg');
                    }
                    .image1{
                        background-image: url('../../../../public/shsoft-profile.jpg');
                    }
                }
                .info{
                    width: 70%;
                    height: 100%;
                    padding-left: 20px;
                    .name{
                        font-size: 32px;
                        font-weight: 600;
                    }
                    .pos{
                        margin-top: 8px;
                        font-size: 13px;
                    }
                    .content{
                        word-wrap: break-word;
                        margin-top: 10px;
                        font-size: 16px;
                        text-align: start;
                        line-height: 1.6;
                        font-style:italic;
                        font-family: 'roboto',sans-serif;
                        color: #666363;
                    }
                }
            }
        }
    }


    .profileUs {
        margin-top: 80px;
        width: 100%;


        .teamMember {
            padding: 80px 0;

            .teamMemberTitle {
                width: 100%;
                padding: 0 5%;
                font-size: 30px;
                font-weight: 600;
                text-align: center;
                color: #014f16;


            }

            .teamMemberDescription {
                margin-top: 10px;
                width: 100%;
                padding: 0 5%;
                font-size: 18px;
                text-align: center;
                font-family: "Poppins", sans-serif;
                color: #333;
            }

            .listMember {
                margin-top: 60px;
                width: 100%;
                padding: 10px 10%;

                @media #{$media-tablet-horizontal} {
                    flex-direction: column;
                }

                @media #{$media-tablet-vertical} {
                    flex-direction: column;
                }

                @media #{$media-phone} {
                    flex-direction: column;
                }

                .member {
                    width: 350px;
                    background-color: #ffffff;
                    height: 400px;
                    box-shadow: 1px 2px 4px #828080;
                    border-radius: 8px;
                    padding: 10px 25px;
                    position: relative;

                    &:hover {
                        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
                    }


                    @media #{$media-tablet-horizontal} {
                        width: 850px;
                        margin-top: 25px;
                        height: 350px;
                    }

                    @media #{$media-tablet-vertical} {
                        width: 550px;
                        margin-top: 25px;
                        height: 350px;
                    }

                    @media #{$media-phone} {
                        width: 340px;
                        height: 400px;
                        margin-top: 25px;
                    }


                    .linkedIn {
                        position: absolute;
                        right: 0;
                        top: -5px;
                        color: #1459e3;
                        font-size: 40px;
                    }

                    .imageProfile {
                        height: 180px;

                        .image {
                            width: 320px;
                            height: 170px;
                            border-radius: 0%;
                            box-sizing: border-box;
                            overflow: hidden;
                            border: 0px solid #9f9faec6;

                            @media #{$media-tablet-horizontal} {
                                width: 830px;
                            }

                            @media #{$media-tablet-vertical} {
                                width: 530px;
                            }

                        }
                    }

                    .infomationProfile {
                        margin-top: 15px;
                        padding: 15px 0;

                        .name {
                            text-align: start;
                            font-size: 18px;
                            font-weight: 600;
                            color: $main-color;

                            @media #{$media-tablet-horizontal} {
                                font-size: 20px;
                            }

                            @media #{$media-phone} {
                                text-align: center;
                                margin: 4px 0;
                            }

                        }

                        .name1 {
                            text-align: center;
                            font-size: 15px;
                            font-weight: 600;
                            color: #524f4f;
                            margin-top: 10px;
                        }

                        .content {
                            padding: 5px 0px;
                            font-weight: 400;
                            color: #333;
                            font-size: 13px;
                            text-align: start;

                            @media #{$media-tablet-horizontal} {
                                font-size: 16px;
                            }

                            @media #{$media-phone} {
                                font-size: 15px;
                                text-align: center;
                            }

                        }
                    }
                }
            }
        }

    }
}

.imageLoop {
    width: 100%;
    height: 100%;
}




