@import "src/assets/helpers/variable";


.customPhonesection {

    @media #{$media-phone} {
        flex-direction: column-reverse !important;
    }
}

.voucher{
    width:100%;
    padding-left: 5%;
    padding-right: 5%;
    .title {
        color: $main-color;
        font-size: 33px;
        text-align: center;
        font-weight: 900;
    }
    .section {
        margin-top: 5%;
        height: 188px;
    
        @media #{$media-tablet-vertical} {
            margin-top: 50px;
            height: 300px;
        }
    
        @media #{$media-phone} {
            width: 100%;
            padding: 10px 5%;
            display: flex;
            flex-direction: column;
            margin-top: 0px;
            height: auto;
        }
    
        .image {
            width: 50%;
            height: 100%;
            box-shadow: 1px 8px 10px #b8b8ba;
            border-radius: 50px 0 50px 0;
            box-sizing: border-box;
            overflow: hidden;
    
            @media #{$media-phone} {
                width: 100%;
                height: 180px;
            }
        }
    
        .mainContent {
            color: black;
            width: 55%;
            height: 100%;
            @media #{$media-phone} {
                width: 100%;
                margin-top: 25px;
            }
            p {
                text-align: start;
                line-height: 25px;
    
                @media #{$media-phone} {
                    text-align: initial;
                }
            }
        }
        .mainContent2 {
            color: black;
            width: 55%;
            text-align: end;
            line-height: 25px;
            margin-right: 5%;
    
            @media #{$media-phone} {
                width: 100%;
                text-align: initial;
    
                margin-right: 0%;
            }
            .line1 {
                @media #{$media-phone} {
                    padding-top: 10px;
                }
            }
        }
        .image2 {
            width: 45%;
        }
    }
}

