@import "src/assets/helpers/variable";
.tutorial{
    padding: 80px 0;
    width: 100%;
    .title{
        text-align: center;
        color: #333;
        p{
            font-weight: 400;
            text-align: center;
            font-size: 35px;
        }
    }
    .note{
        text-align: center;
        @media #{$media-phone} {
            width: 90%;
            padding: 10px 5%;
        }
    }
    .posts{
        width: 100%;
        padding: 10px 8%;
        position: relative;
        @media #{$media-phone} {
            width: 94%;
            padding: 10px 3%;
        }
        .previous{
            position: absolute;
            top:200px;
            font-size: 26px;
            left: 80px;
        }
        .next{
            position: absolute;
            font-size: 26px;
            top:200px;
            right: 80px;
        }
        .posted{
            width: 380px;
            height: 400px;
            background-color: #ffffff;
            padding-bottom: 20px;
            position: relative;
            border-radius: 6px;
            box-sizing: border-box;
            overflow: hidden;
            font-family: "Poppins",sans-serif;
            .tools{
                top: 0;
                left: 0;
                position: absolute;
                text-align: center;
                width: 12%;
                padding: 10px 20px;
                font-size: 10px;
                background-color: #286ebd;
                color: #ffffff;
            }
            .image{
                width: 100%;
                height: 226px;  
            }
            .mainPost{
                width: 90%;
                padding: 10px 5%;
                .title{
                    color: #286ebd;
                    font-size: 19px;
                    margin: 0 0;
                    font-weight: 550;
                }
                .description{
                    margin-top: 10px;
                    font-family: "Poppins",sans-serif;
                    color: #333;
                    font-size: 14px;
                }
                .read{
                    padding: 10px 15px;
                    font-size: 16px;
                    color: #ffffff;
                    background-color: #286ebd;
                }
            }
        }
    }
}