@import url('https://webfontworld.github.io/tmon/Tium.css');
@import "src/assets/helpers/variable";

.banner {
    margin-top: 50px;
    height: auto;
    width: 100%;
    position: relative;

    .next {
        position: absolute;
        right: 640px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        bottom: 15px;
        background-color: #ffffff;
        z-index: 1000;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 36%);

        @media #{$media-phone} {
            right: 33.5%;
            top: 216px;
        }
    }

    .pause {
        position: absolute;
        right: 700px;
        bottom: 10px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #ffffff;
        z-index: 1000;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 36%);
        border: 1px solid linear-gradient(0deg, rgba(171, 27, 38, 1) 0%, rgba(85, 82, 169, 1) 100%);

        @media #{$media-phone} {
            right: 45%;
            top: 210px;
        }
    }

    .pre {
        position: absolute;
        left: 630px;
        bottom: 15px;
        width: 35px;
        border-radius: 50%;
        height: 35px;
        background-color: #ffffff;
        z-index: 1000;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 36%);

        @media #{$media-phone} {
            left: 32%;
            top: 216px;
        }

    }


}

.mainSwiper {
    margin-top: -56%;
    width: 100%;
    padding: 35% 0% 0% 0%;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}