
.banner{
    width: 100%;
    height:700px;
    box-sizing: border-box;
    overflow: hidden;
}
.sevice{
    width: 100%;
}
.mainHome{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(97, 94, 94);
    }
}