.services-submenu {
    width: 13rem;
    position: fixed;
    list-style: none;
    text-align: right;
    top: 48px;
    box-shadow: 1px 1px 3px #dadada;
}

.services-submenu li {
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-align: right;
}

.services-submenu li a:hover {
    background: rgb(255, 255, 255);
}

.services-submenu.clicked {
    display: none;
}

.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: small;

}

.dropdownItem{
    &:hover{
        border-bottom: 1px solid #dadada;
    }
}